

.accordion{
    background-color: white;
    width: 80%;
    margin-inline: auto;
    margin-top: 6rem;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color:#4A5157;
}

 .accordion-item {
     border-top: 1px solid #4a515733 ;
     position: relative;
     padding-block:10px;
   
     
  }
   
  .accordion-header {
    font-size: 23px;
    font-weight: 400;
    width: 80%;
    padding-right: 2rem;
  }
   .header-wrraper{
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  }
   .hidden{
    display: none;
   }
   svg{
    width: 14px;
   }
  .accordion-content {
    display: none;
    font-size:20px;
    line-height:  1.701;
    width: 90%;
  letter-spacing: normal;
  }
  
  .accordion-item.active .accordion-content {
    display: block;
  }
  